<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
</head>

<body>
    <main>
        <h1>SpaceX Launches</h1>

        <!-- <% console.log(data) %> -->
    </main>
</body>

</html>