<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
</head>

<body>
    <h1>Space<span>X</span> launches</h1>

    <% for (month in data) {
        if (data[month].length) { %>
        <section>
            <%- include('../partials/launchContent') %>
        </section>
        <% }
    } %>
</body>

</html>